/* 
Block
1- take full width if no width
2- add line Break after and before
3- respect  padding , margin , height , width
 

inline
no line break
dont respect  height ,width 
only respect left and right  padding , margin


inline-Block
inline elemnt 
respect  padding , margin , height , width


none 


*/


div{
    display: none; /* ومش بيسب مكانه في الشاشة */
    display: block;
    display: inline;
    display: inline-block;
    visibility: hidden;   /* بس لما تخفيه بتسب مكانه في الشاشة */
    visibility: visible;  /* default */  

    background-color: aqua;
    padding: 10px;
    margin: 10px;
    height: 100px;
}